bin/
data/
db/
dist/
logs/
test-result/
eclipse/
/lib/
tmp/
.svn/
modules/
node_modules/
*.svn/
.classpath
.settings
.project
precompiled/
*.DS_Store
*.ipr
*.iml
*.iws
/convergency.iws
/convergency.ipr
/convergency.iml
/nbproject/private/
/.swp
/.idea/
